<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Master</title>
    <link rel="stylesheet" href="{{url_for('static' , filename = 'css/main.css')}}" />
</head>
<body>
    <p>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	</p>
    <div class="content">
        <h1 style="text-align: center">Update Task</h1>
    
        <div class="form">
            <form action="/update/{{task}}" method="POST"  enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit">
            </form>
        </div>
    </div>
</body>
</html>
